<form method="POST" action="/add-matkul">
  <div class="form-group">
    <label for="emailInput">ID Matakuliah</label>
    <input name="idMatkul" type="text" class="form-control" id="emailInput" placeholder="ID Matakuliah" />
  </div>

  {{!-- <div class="form-group">
    <label for="passwordInput">Nama Matakuliah</label>
    <input name="namaMatkul" type="text" class="form-control" id="passwordInput" placeholder="Nama Matakuliah" />
  </div>

  <div class="form-group">
    <label for="confirmPasswordInput">Nama Dosen</label>
    <input name="namaDosen" type="text" class="form-control" id="confirmPasswordInput" placeholder="Nama Dosen" />
  </div> --}}
  <button type="submit" class="btn btn-primary">Add</button>
</form>