<form method="POST" action="/delete-matkul">
  <div class="form-group">
    <label for="emailInput">ID Matakuliah</label>
    <input name="idMatkul" type="text" class="form-control" id="emailInput" placeholder="ID Matakuliah" />
  </div>
  <button type="submit" class="btn btn-primary">Hapus</button>
</form>