<div>
  Profile :
  <br />
  firstName :
  {{firstName}}
  <br />
  lastName :
  {{lastName}}
  <br />
  email :
  {{email}}
</div>
<br />
<div style="margin-top: 30px;">
  <a class="btn btn-primary btn-lg active" href="/edit-profile-dosen">Edit Profile</a>
</div>
<div style="margin-top: 30px;">
  <a class="btn btn-primary btn-lg active" href="/change-password-dosen">Change Password</a>
</div>