<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-lg active" href="/login">Login Mahasiswa</a>
    <a class="btn btn-primary btn-lg active" href="/login-dosen">Login Dosen</a>
    <a class="btn btn-primary btn-lg active" href="/dosen-mhs">Register</a>
</div>